<% include ../partials/header %>

<div class="row mt-3">
    <div class="col-md-2 text-right mt-2">
        <a href="/equipment/<%=equipment._id%>/edit"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </div>
    <div class="col-md-8 text-center">
        <h1><i class="fas fa-list-ol"></i> <%=equipment.name%></h1>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/equipment/<%=equipment._id%>/specifications" method="POST">
            <div class="input-group mb-3 mt-3">
                <input class="form-control border border-primary" type=text placeholder="attribute"
                    name="specification[name]" required>
                <input class="form-control border border-primary" type=text placeholder="value"
                    name="specification[value]" required>
                <input class="form-control border border-primary" type=text placeholder="unit of measure"
                    name="specification[unit]">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-plus "></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<br>

<div class="row">
    <%equipment.specifications.forEach(function(specification){%>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/equipment/<%=equipment._id%>/specifications/<%=specification._id%>?_method=PUT" method="POST">
            <div class="input-group mb-3 mt-3">
                <input class="form-control border border-secondary" type="text" value="<%=specification.name%>"
                    name="specification[name]" required />
                <input class="form-control border border-secondary" type="text" value="<%=specification.value%>"
                    name="specification[value]" required />
                <input class="form-control border border-secondary" type="text" value="<%=specification.unit%>"
                    name="specification[unit]" />
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit" id="button-addon2"><i
                            class="far fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 mt-3 d-none d-md-block">
        <form action="/equipment/<%=equipment._id%>/specifications/<%=specification._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger "><i class="far fa-trash-alt"></i></button>
        </form>
    </div>
    <div class="col-md-2 mt-3 d-block d-md-none text-right">
        <form action="/equipment/<%=equipment._id%>/specifications/<%=specification._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger "><i class="far fa-trash-alt"></i></button>
        </form>
    </div>
    <% }) %>
</div>
</div>

<% include ../partials/footer %>